# Printing out Null Lyrics

In [43]:
import pandas as pd

In [44]:
df = pd.read_csv(r'2010_2020_noDuplicates_lyrics1.csv')

In [45]:
df

,Unnamed: 0,Unnamed: 0.1,index,date,rank,song,artist,last-week,peak-rank,weeks-on-board,lyrics
0,0,0,4500,2020-12-26,1,Willow,Taylor Swift,NaN,1,1,[Verse 1]\nI'm like the water when your ship r...
1,1,1,4501,2020-12-26,2,All I Want For Christmas Is You,Mariah Carey,1.0,1,42,[Intro]\nI don't want a lot for Christmas\nThe...
2,2,2,4502,2020-12-26,3,Rockin' Around The Christmas Tree,Brenda Lee,3.0,2,37,[Verse 1]\nRockin' around the Christmas tree\n...
3,3,3,4503,2020-12-26,4,Jingle Bell Rock,Bobby Helms,5.0,3,34,"[Verse 1]\nJingle bell, jingle bell, jingle be..."
4,4,4,4504,2020-12-26,5,Mood,24kGoldn Featuring iann dior,2.0,1,19,"Why you always such a noob\nWalking round, act..."
...,...,...,...,...,...,...,...,...,...,...,...
5245,5251,57328,61828,2010-01-02,29,Hell Breaks Loose,Eminem Featuring Dr. Dre,NaN,29,1,[Verse 1: Eminem]\nI want you to understand so...
5246,5252,57354,61854,2010-01-02,55,Empire State Of Mind (Part II) Broken Down,Alicia Keys,NaN,55,1,"[Intro]\nOoooh, New York\nOoooh, New York\n\n[..."
5247,5253,57366,61866,2010-01-02,67,Elevator,Eminem,NaN,67,1,"[Intro]\nAll aboard!\nOkay, next stop, my base..."
5248,5254,57383,61883,2010-01-02,84,On Fire,Lil Wayne,62.0,62,2,"[Hook]\nMama bad, mama mean\nGasoline, she’s o..."
5249,5255,57397,61897,2010-01-02,98,I Get It In,Omarion Featuring Gucci Mane,92.0,83,7,[Intro: Omarion & Gucci Mane]\nOh! Omarion (It...

In [47]:
nans = []
song_nans = []
artist_nans = []
count = 0
for x in range(0, 5250, 1):
    if str('nan') == str(df['lyrics'][x]):
        count +=1
        nans.append(x)
        song_nans.append(df['song'][x])
        artist_nans.append(df['artist'][x])

In [48]:
count

0

In [49]:
d = {'x': nans, 'song': song_nans, 'artist':artist_nans}
df_nan = pd.DataFrame(data=d)

In [50]:
df_nan

Empty DataFrame
Columns: [x, song, artist]
Index: []